repos:
  - repo: local
    hooks:
      - id: php-cs-fixer
        name: PHP CS Fixer
        entry: ./docker-php-cs-fixer.sh
        language: system
        types: [php]
        pass_filenames: false
